<form *ngIf="active" (ngSubmit)="onSubmit()" #adviceForm="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      id="title"
      class="form-control"
      type="text"
      name="title"
      [(ngModel)]="model.title"
      required
    >
  </div>
  <div class="form-group">
    <label for="body">Advice</label>
    <textarea
      id="body"
      class="form-control"
      type="text"
      name="body"
      rows="4"
      required
      [(ngModel)]="model.body"></textarea>
  </div>
  <button
    type="submit"
    class="btn
    btn-default"
    *ngIf="auth.authenticated()" >Submit</button>
  <p *ngIf="!auth.authenticated()">only logged in users can post advices</p>
</form>
