<div class="finder-page container-fluid main-content-top-space">
  <div class="well">
    <h1 class="page-title">Choose option for search</h1>
    <nav class="btn-group" role="group" aria-label="...">
      <button class="btn btn-default" (click)="searchType = 'art'">Art tags</button>
      <button class="btn btn-default" (click)="searchType = 'history'">History tags</button>
      <button class="btn btn-default" (click)="searchType = 'period'">Time Period</button>
    </nav>
  </div>
  <section id="search-option">
    <period-finder (gotSearchResults)="gotSearchResults($event)" *ngIf="searchType == 'period'"></period-finder>
    <history-tags-finder (gotSearchResults)="gotSearchResults($event)" *ngIf="searchType == 'history'"></history-tags-finder>
    <art-tags-finder (gotSearchResults)="gotSearchResults($event)" *ngIf="searchType == 'art'"></art-tags-finder>
  </section>
  <section class="destinations-list">
    <div *ngFor="let destination of searchResults">
      <!--<destination-preview [destination]="dest"></destination-preview>-->
      <article class="dest-wrapper panel panel-default">

        <div class="panel-heading">
          <a [routerLink]="['/destination',  destination._id ]">
            <span class="name">{{destination.placeName}}</span>
          </a>
        </div>
        <div class="panel-body">
          <p>{{destination.likes}} people like it</p>
          <p>{{destination.countryName}}</p>
          <section class="tags-wrap">
            <h4>History Tags</h4>
            <div>
        <span class="label label-default" *ngFor="let tag of destination.historyTags;" >
          {{tag.name}}
        </span>
            </div>
            <h4>Art Tags</h4>
            <div>
        <span class="label label-default" *ngFor="let tag of destination.artTags;" >
          {{tag.name}}
        </span>
            </div>

          </section>
        </div>
        <div class="panel-footer">
          <a [routerLink]="['/destination',  destination._id ]">
            <span class="name">Read more</span>
          </a>
        </div>
      </article>

    </div>
  </section>
</div>
