<div class="container">
  <h1>Destination Form</h1>
  {{diagnostic}}
  <form *ngIf="active" (ngSubmit)="onSubmit()" #destForm="ngForm">
    <div class="form-group">
      <label for="placeName">Place name</label>
      <input
        id="placeName"
        [(ngModel)]="model.placeName"
        #spy name="placeName"
        type="text"
        class="form-control"
        required
        #name="ngModel"
      >
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
      TODO: remove this: {{model.placeName}}
      <br>TODO: remove this: {{spy.className}}
    </div>
    <div class="form-group">
      <label for="countryName">countryName</label>
      <input id="countryName" [(ngModel)]="model.countryName" name="countryName" type="text" class="form-control">
    </div>
    <div class="form-group" *ngFor="let tag of historyTags">
      <input
        class="form-control"
        required
        type="checkbox"
        [name]="tag"
        [value]="tag">
      {{tag}}
      </div>
    <div class="form-group">
      <label for="artTags">Hero Power</label>
      <select class="form-control" id="artTags" required>
        <option *ngFor="let tag of artTags" [value]="tag">{{tag}}</option>
      </select>
    </div>
    <button type="button" class="btn btn-default" (click)="newDestination()">New Destination</button>
    <button type="submit" [disabled]="!destForm.form.valid" class="btn btn-default">Submit</button>
  </form>
</div>
