<form *ngIf="active" (ngSubmit)="onSubmit()" #adviceForm="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      id="title"
      class="form-control"
      type="text"
      name="title"
      [(ngModel)]="model.title">
  </div>
  <div class="form-group">
    <label for="body">Advice</label>
    <input
      id="body"
      class="form-control"
      type="text"
      name="body"
      [(ngModel)]="model.body">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
