<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid middle-xs">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">
        <span class="bee-in-circle">
          <img
            class="bee-in-circle__picture"
            src="./vacation-chooser/resources/images/bee_icon_small.png">
        </span>
        <p class="navbar-brand__title">Art&History vacation chooser</p>
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
        <li><a [routerLink]="['/find']" routerLinkActive="active">Find perfect destination</a></li>
        <li><a [routerLink]="['/browse']" routerLinkActive="active">Browse destinations list</a></li>
        <li><a [routerLink]="['/inspire']" routerLinkActive="active">Be inspired</a></li>
        <li><button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button></li>
        <li><button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!--<div class="container-fluid">-->
  <router-outlet></router-outlet>
<!--</div>-->
