<form (ngSubmit)="onSubmit()" #bookForm="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      id="title"
      class="form-control"
      type="text"
      name="title"
      [(ngModel)]="model.title"
      required
    >
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input
      id="author"
      class="form-control"
      type="text"
      name="body"
      [(ngModel)]="model.author"
      required
    >
  </div>
  <div class="form-group">
    <label for="year">Year of publication</label>
    <input
      id="year"
      class="form-control"
      type="number"
      name="year"
      [(ngModel)]="model.year"
      required
    >
  </div>
  <div class="form-group">
    <label for="link">Buy this book</label>
    <input
      id="link"
      class="form-control"
      type="url"
      name="link"
      [(ngModel)]="model.linkToSeller"
    >
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

