<div class="container-fluid">
  <div class="destination-wrapper">
    <article class="well">
      <h1>{{destination.placeName}}</h1>
      <div class="dest-likes row middle-xs">
        <button class="btn btn-sm btn-default" (click)="likeDestination(btnLikeIt);" #btnLikeIt>Like it</button>
        <p>{{destination.likes}} people like this destination</p>
      </div>

      <h3>{{destination.countryName}}</h3>
      <div>
        <h4>History Tags</h4>
        <ul class="tags">
          <li *ngFor="let tag of destination.historyTags; let i=index" >
            <i [class.vote-inactive]="tag.alreadyVoted" (click)="tagVote('down','historyTags',tag)" class="material-icons">keyboard_arrow_down</i>
            <span class="counter">{{tag.votes}}</span>
            <span class="name">{{tag.name}}</span>
            <i [class.vote-inactive]="tag.alreadyVoted" (click)="tagVote('up', 'historyTags', tag)" class="material-icons">keyboard_arrow_up</i>
          </li>
        </ul>
        <h4>Art Tags</h4>
        <ul class="tags">
          <li  *ngFor="let tag of destination.artTags;">
            <i [class.vote-inactive]="tag.alreadyVoted" (click)="tagVote('down', 'artTags',tag)" class="material-icons">keyboard_arrow_down</i>
            <span class="counter">{{tag.votes}}</span>
            <span class="name">{{tag.name}}</span>
            <i [class.vote-inactive]="tag.alreadyVoted" (click)="tagVote('up', 'artTags',tag)" class="material-icons">keyboard_arrow_up</i>
          </li>
        </ul>
      </div>
      <h4>Books</h4>
      <ul class="books" >
        <li *ngFor="let book of destination.books;">
          <p class="lead" *ngIf="book.linkToSeller"><a [href]="book.linkToSeller">{{book.title}}</a></p>
          <h4 *ngIf="!book.linkToSeller">{{book.title}}</h4>
          <p>{{book.title}}</p>
          <p >{{book.author}}</p>
          <p>{{book.yearOfPublication}}</p>
        </li>
      </ul>
      <button class="btn btn-default" (click)="isBookFormVisible=true;">Add new book</button>
      <book-form *ngIf="isBookFormVisible" (newBookAdded)="newBookAdded($event)" [destId]="destination._id"></book-form>

    </article>
    <section class="advices" class="well" >
      <h3>Visitor advices</h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let advice of destination.advices;">
          <p>{{advice.userNickname}}</p>
          <p>{{advice.date | date}}</p>
          <p>{{advice.title}}</p>
          <p>{{advice.body}}</p>
        </li>
      </ul>
      <!--TODO pass to form dynamic user id-->
      <advice-form (newAdviceAdded)="newAdviceAdded($event)" [destId]="destination._id" [userId]="'5777bd1a6984a3d800e026f9'"></advice-form>
    </section>
  </div>
</div>
