<div class="main-content-top-space home-page container-fluid">
  <div class="well">
    <h1 class="page-title">Welcome to <span>Art&History vacation chooser</span></h1>
    <p class="lead">You can use our <a class="link-bright" [routerLink]="['/find']">destination search</a><br>
      to try your chances with <a [routerLink]="['/inspire']" class="link-bright">a random match</a><br>
    or to browse <a [routerLink]="['/browse']" class="link-bright">our destinations catalogue</a>.</p>
  </div>
</div>
