<div class="container-fluid main-content-top-space">
<article *ngIf="auth.authenticated()">
  <h1>User profile</h1>
  <section>
    <img [src]="auth.userProfile.picture" alt="" class="profile-img">
    <p><strong>Email: </strong> {{auth.userProfile.email}}</p>
    <p><strong>Created At: </strong> {{auth.userProfile.created_at}}</p>
  </section>
  <section>
    {{appUserData._id}}
  </section>
</article>
<h4 *ngIf="!auth.authenticated()">You are not logged in, please click 'Log in' button to login</h4>
</div>
