html{
  height: 100%;
}
/* Permalink - use to edit and share this gradient:
http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+56,ffffff+100&1+22,0.8+61,0.1+100 */
body{
  background-size: cover;
  background: linear-gradient(to bottom, white 0%, white 20%, rgba(255, 255, 255, 0.83) 40%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0.1) 100%), url("../../resources/bee_bg_1_less_color.jpg") bottom center;  background-repeat: no-repeat;
  background-size: 150%;
  height: 100%;
  width: 100%;
  //background-blend-mode: saturation;
  background-attachment: fixed;

  @include media(">=extraSmall") {
    background-size: 100%;
  }

}


.finder-page,
.home-page {
  margin-top: 5rem;
}
