@import '../abstracts/vars';

span.label{
  margin: 0.5rem;
  font-weight: 500;
}

.panel-heading{
  background-repeat: no-repeat;
  background-image: url("./vacation-chooser/resources/bee_one_comb.png");
  background-position: 5px center;
  background-size: 5%;
}
.panel-heading a
{
  display: block;
  cursor: pointer;
  &:hover{
    color:green;
  }
  h5{
    padding-left: 30px;
  }
}
.panel-default{
  background-color:$c-middle-amber;
}
