body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.hidden{
  display: none;
}

.navbar-header a{
  color:#FFA000 !important;
}
h1.page-title{
  font-size: 30px;
}

.well{
  margin-top: 2rem;
  background: #FFECB3;
}
